@page "/Proveedores"
@using CurrieTechnologies.Razor.SweetAlert2
@using ModHub.Shared.Entities
@using ModHub.WEB.Repositories
@using ModHub.WEB.Shared




@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal
<h1>ProveedorIndex</h1>

@code {

}
