@using CulturaVivaTours.Shared.Entities

@inject NavigationManager Navigation


<EditForm Model="Proveedor" OnValidSubmit="OnSubmit">

    <DataAnnotationsValidator/>




    <div class="mb-3">



        <label>Nombre</label>
        <div>
            <InputText width="10" @bind-Value="Proveedor.NombreProveedor" />
            <ValidationMessage For="@(() => Proveedor.NombreProveedor)" />

        </div>

        <label>Tipo de Servicio</label>
        <div>


            <InputText width="15" @bind-Value="Proveedor.TipoServicio" />
            <ValidationMessage For="@(() => Proveedor.TipoServicio)" />

        </div>

  

        <label>Telefono de Contacto</label>
        <div>

            <InputText width="10" @bind-Value="Proveedor.Contacto" />
            <ValidationMessage For="@(() => Proveedor.Contacto)" />

        </div>



    </div>



    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>


</EditForm>

@code 
{




        [EditorRequired]
        [Parameter]
        public Proveedor Proveedor { get; set; }


        [EditorRequired]
        [Parameter]
        public EventCallback OnSubmit { get; set; }


        [EditorRequired]
        [Parameter]
        public EventCallback ReturnAction { get; set; }
}
